[submodule "MoodleQuiz"]
	path = MoodleQuiz
	url = https://github.com/cloud-oak/MoodleQuiz
[submodule "Tqdm.jl"]
	path = Tqdm.jl
	url = https://github.com/cloud-oak/Tqdm.jl
[submodule "Memoize.jl"]
	path = Memoize.jl
	url = https://github.com/cloud-oak/Memoize.jl
